* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: #efe8ad;
}

h1
{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

p
{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify-all;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.botao:hover {
}


/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: #cc2d30;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 10px solid white;
}

#lombada {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 10px solid #cc2d30;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 8;
}

#p2 {
    z-index: 7;
}

#p3 {
    z-index: 6;
}

#p4 {
    z-index: 5;
}

#p5 {
    z-index: 4;
}

#p6 {
    z-index: 3;
}

#p7
{
    z-index: 2;
}

#p8
{
    z-index: 1;
}

#prev-btn input
{
    width: 60px;
    height: auto;
}

#next-btn input
{
    width: 60px;
    height: auto;
}

